@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0 auto;
  /*     padding: 0px 25px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70px;
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
  position: fixed;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1330px;
  height: 70px;
}

.navbar ul li {
  display: flex;
  list-style-type: none;
  justify-content: start;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-right: 25px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li a:hover {
  color: rgb(219, 219, 219);
}
.navbar ul li a span:nth-child(2) {
  font-size: 20px;
}

.navbar-logo {
  height: 100%;
}
.navbar img {
  object-fit: cover;
  height: 100%;
}
.navbar img:hover {
  filter: brightness(80%);
  cursor: pointer;
/*   transition: 0.1s ease-in-out; */
}

.topbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.candidati {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #0ff;
  color: #101023;
  border-radius: 10px;
  font-weight: 600;
  height: 40px;
  font-size: 14px;
  padding: 0 15px;
}
.candidati:hover {
  background-color: #00e5e5;
  cursor: pointer;
  /*     transition: 0.2s ease-in-out; */
}

.candidati span:nth-child(2) {
  font-size: 15px;
  font-weight: 800;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 0.15s ease-in-out;
}
.lang span:first-child {
  border-radius: 50%;
}
.lang span:last-child {
  font-size: 26px;
  color: white;
}

.first-section {
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 90vh;
  position: relative;
  top: 70px;
}

.first-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1330px;
}

.candidati-custom {
  display: flex;
  align-items: center;
  width: 165px;
  padding: 16px 20px;
  gap: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  height: auto;
  margin-top: 35px;
  transition: 0.2s ease-in-out;
}

.first-section-container div:nth-child(1) {
  width: 50%;
  padding: 2em;
  color: white;
  text-align: left;
}
.first-section-container h1 {
  font-size: 56px;
}

.first-section-container p,
li {
  font-size: 22px;
}

.first-section-container p {
  padding: 1em 0;
}

.first-section-container ul {
  list-style: none;
  padding: 0.5em;
}

.first-section-container ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: linear-gradient(46.03deg, #cb2376 14.21%, #ff00d6 83.82%);
  display: inline-block;
  margin-right: 8px;
}

.first-section-container div:nth-child(2) {
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: url("assets/epicode-svg-animation-1.svg") no-repeat 50%;

  background-size: contain;
  background-repeat: no-repeat;
}

.first-section-container div:nth-child(2) img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

.second-section {
  width: 100%;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
}

.second-section-container {
  width: 1330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second-section h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 1em;
}

.second-section h4 {
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 20px;
  text-align: center;
}

.second-section a {
  text-decoration: none;
  background: #0ff;
  color: #101023;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 14px;
  font-weight: 500;
  padding: 14px 20px;
  text-align: center;
  border-radius: 6px;
  margin-top: 20px;

  transition: 0.2s ease-in-out;
}

.second-section a:hover {
  background-color: #00e5e5;
}

.second-section-thumbs-container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 48px 0;
}

.second-section-thumbs-item-wrap {
  height: 100%;
  width: 296px;
  background: linear-gradient(90deg, #2d27df 0%, #cb2376 100%);
  border-radius: 16px;
  padding: 3px !important;
}

.second-section-thumbs-item-container {
  height: 100%;
  padding: 24px;
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.second-seciton-thumbs__top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.second-seciton-thumbs__num,
.second-seciton-thumbs__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.second-seciton-thumbs__num {
  font-size: 64px;
  font-weight: 600;
  color: #eb04b3;
}

.second-seciton-thumbs__title {
  color: white;
  font-size: 21px;
  font-weight: 600;
}

.second-seciton-bottom {
  text-align: left;
  color: white;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5em;
}

.third-section {
  width: 100%;
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-section {
  color: white;
}

.third-section-header {
  padding: 80px 0px;
  text-align: center;
}
.third-section h1 {
  font-size: 40px;
}

.third-section p {
  font-size: 18px;
  padding: 15px 0px;
}

.third-section-thumbs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding-bottom: 5em;
}

.thumbs-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.card-wrapper {
  width: 405px;
  height: 280px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.card-wrapper h2 {
  color: #101023;
  font-size: 28px;
  margin: 16px 0;
  margin-bottom: 8px;
}

.card-wrapper h4 {
  color: #34363f;
  font-weight: 700;
  font-size: 18px;
  margin: 24px 0;
  margin-top: 8px;
  text-align: center;
}

.card-wrapper a {
  color: white;
  background-color: #950484;
  font-weight: 600;
  font-size: 14px;
  padding: 16px 20px;
  text-decoration: none;
  border-radius: 6px;
}

.card-wrapper a:hover {
  background-color: #7f0370;
  border-color: #77036a;
}

.card-wrapper p {
  color: #950484;
  font-weight: 700;
  font-size: 16px;
  margin: 16px 0;
  text-align: center;
}

.fourth-section {
  background: #192155;
  padding: 80px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fourth-section-container {
  width: 1330px;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 40px 0;
}

.fourth-section-side-left,
.fourth-section-side-right {
  width: 45%;
  height: 100%;
  text-align: left;
}

.fourth-section-side-left {
  color: white;
}

.fourth-section-side-left h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 0.1em;
}

.fourth-section-side-left h1 {
  font-size: 40px;
  font-weight: 600;
  padding: 0.5em 0;
}

.fourth-section-side-left p {
  font-size: 18px;
  font-weight: 300;
  padding: 0.5em 0;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form #nome,
#cognome,
#email,
#telefono {
  width: 50%;
  margin-bottom: 18px;
  margin-right: 24px;
  height: 40px;
  padding: 0 14px;
  font-size: 16px;
  border-radius: 6px;
}

form #nome::placeholder,
#cognome::placeholder,
#email::placeholder,
#telefono::placeholder {
  color: #eb04b3;
}

form span,
p {
  color: white;
}

form .required {
  color: #eb04b3;
}

form p {
  padding-top: 0.5em;
}

.form--corsi {
  padding: 0.5em;
}

.form--corsi label {
  color: white;
  margin-left: 0.5em;
  font-size: 15px;
}
.form--corsi label:hover {
  cursor: pointer;
  color: #f888dc;
}

.form--corsi input {
  margin: 0.5em 0;
  accent-color: #cb2376;
}

.form--corsi input:hover {
  cursor: pointer;
}

.form--corsi input:checked + label {
  color: #eb04b3;
  font-weight: 600;
}

.fascia-eta {
  color: white;
  margin: 2em 0;
}

select {
  width: 50%;
  height: 3em;
  padding: 0 0.5em;
  font-size: 14px;
}

#privacy {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 24px;
}

#privacy a {
  text-decoration: none;
  color: #cb2376;
  font-weight: 600;
}

#privacy a:hover {
  cursor: pointer;
  color: #a51c61;
}

.submit-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  background-color: #cb2376;
  border: 0;
  padding: 0.6em 2em;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  transition: 0.1s ease-in-out;
}

.submit-btn:hover {
  background-color: #a51c61;
  cursor: pointer;
}

.fifth-section {
  width: 100%;
  background: #101023;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0 2em 0;
}

.fifth-section__title {
  font-weight: 700;
  color: white;
  font-size: 48px;
  margin: 0;
  margin-bottom: 4rem !important;
}

.fifth-section__companies {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*     margin: 3em 0; */
}
.fifth-section__companies:hover {
  cursor: grab;
}
.fifth-section__companies--item {
  width: 50px;
  height: 50px;
}
.fifth-section__companies--item img {
  height: 100%;
  object-fit: fill;
}

.fifth-section__points {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.fifth-section__points--item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e7e9f1;
}
.fifth-section__points--item:hover {
  background-color: #cb2376;
  cursor: pointer;
}

.sixth-section {
  width: 100%;
  background: linear-gradient(46.03deg, #101023 14.21%, #192155 83.82%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.sixth-section-container {
  height: 100%;
  width: 1330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sixth-section-container__left {
  color: white;
  height: 60%;
  width: 45%;
}

.sixth-section-container__left__title {
  font-size: 40px;
  font-weight: 700;
  margin: 16px 0;
}

.sixth-section-container__left__subtitle {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 80px;
}

.sixth-section-container__left__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.sixth-section-container__left__bottom__arrow-left,
.sixth-section-container__left__bottom__arrow-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;
}

.sixth-section-container__left__bottom__arrow-left {
  color: #00ffff;
  background: transparent;
}
.sixth-section-container__left__bottom__arrow-left:hover,
.sixth-section-container__left__bottom__arrow-right:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.sixth-section-container__left__bottom__arrow-right {
  color: #101023;
}

.sixth-section-container__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 70px;
  width: 100%;
}

.sixth-section__right__card {
  width: 350px;
  height: 165px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.3em 1.5em;
  transition: 0.1s ease-in-out;
}
.sixth-section__right__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.sixth-section__right__card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 1em;
}

.sixth-section__right__card__content img:first-child {
  width: 50px;
}

.sixth-section__right__card__content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.sixth-section__right__card__content__info h1 {
  color: #101023;
  font-size: 16px;
  font-weight: 600;
}
.sixth-section__right__card__content__info h2 {
  color: #6c6e76;
  font-size: 14px;
  font-weight: 400;
}

.sixth-section__right__card__content img:last-child {
  width: 25px;
}

.sixth-section__right__card hr {
  border: 1px solid lightgray;
  color: lightgray;
  width: 80%;
}

.seventh-section {
  width: 100%;
  background: rgb(45, 39, 223);
  background: linear-gradient(
    45deg,
    rgba(45, 39, 223, 1) 0%,
    rgba(203, 34, 117, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.seventh-section-container {
  width: 1330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.seventh-section-container h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 18px;
}

.seventh-section-container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.seventh-section-container a span {
  position: relative;
  top: 1px;
}

.seventh-section-container a {
  color: #101023;
  background-color: #00ffff;
  border-radius: 6px;
  font-weight: 600;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  transition: 0.1s ease-in-out;
}

.seventh-section-container a:hover {
  background-color: #00e5e5;
}

.footer-section {
  background: linear-gradient(46.03deg,#101023 14.21%,#192155 83.82%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-section-container {
  width: 1330px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;
}

.footer-logo {
  transform: scale(0.8);
}

.footer-logo:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.menu-nav a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin: 0.5em 0;
}

.menu-nav a:hover {
  color: lightgray;
  border-radius: 6px;
}

.footer-social {
  width: 120px;
  font-weight: 600;
  color: white;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.footer-social-icons a {
  color: white;
}

.footer-social-icons a:hover {
  color: lightgray;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 120px;
  margin-bottom: 16px;

  font-weight: 300;
  font-size: 14px;
  color: lightgray;
}

.credits span{
  font-size: 1.5em;
}

.credits a{
  color: #a51c61;
  font-weight: 600;
}

.credits a:hover {
  color:#c6337c;
}

.accessibility-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cb2376;
  color: white;
  z-index: 20;
  right: 25px;
  bottom: 25px;
  transition: 0.1s ease-in-out;
}

.accessibility-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}